div.col-sm-3 {

    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    background-color: rgb(44, 44, 44);
}

div.col-sm-6 {


    border: 1px solid gray; 
    border-radius: 8px;
    border-spacing: 0px;


}

td.coldataabas {
    width: 120px;    
    border: 1px solid #606060;
    text-align: center;
    background-color: rgb(44, 44, 44);
    color: aliceblue;
    
}
td.colplacavei {
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td.colkmanterior {
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td.colkmatual {
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;
    
}

td.colkmrodado {
    width: 50px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td.collitros {
    width: 50px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td.colvalorabastec {
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td.colmediaabastec {
    width: 34px;    
    border: 1px solid #606060;
    text-align: center;
    color: rgb(3, 197, 90);
    
}

td.colmediaabastecred {
    width: 34px;    
    border: 1px solid #606060;
    text-align: center;
    color: crimson;
    
}

td.colmediamensal {
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
    color: rgb(3, 197, 90);
    
}

td.colmediasolicitada {
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
    
    
}


td.colmediamensalred {
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
    color: crimson;
    
}

td.colkmdescontado {
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
    
}

td.coltipoabast {
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
    
}

td#cabdataabas {
    background-color: black;
    color: aliceblue;
    width: 120px;
    height: 20px;
    border: 1px solid #606060;
    text-align: center;

}
td#cabplacavei {
    background-color: black;
    color: aliceblue;
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabkmatual {
    background-color: black;
    color: aliceblue;
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabkmanterior {
    background-color: black;
    color: aliceblue;
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;

}

td#cabkmrodado {
    background-color: black;
    color: aliceblue;
    width: 50px;    
    border: 1px solid #606060;
    text-align: center;

}

td#cablitros {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 50px;    
    border: 1px solid #606060;
    text-align: center;

}

td#cabvalorabastec {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabmediaabas {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;
}

td#cabmediamensal {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabtipoabast {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 30px;    
    border: 1px solid #606060;
    text-align: center;

}

p#headdata{
    width: 185px;
    font-size: small;
    text-align: center;
    border: 1px solid #606060;


}

div#inputboxes{

    display: grid;
    grid-template-columns: 0fr 0fr 0fr;


}

table#headinputboxes1{

    display: grid;
    

    
    
    
    


}
input#inpkmanterior{

    width: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: rgb(44, 44, 44);    
    border: 1px solid #606060;
    text-align: center;
    



}

input#idparaatualizar{

    width: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: rgb(44, 44, 44);    
    border: 1px solid #606060;
    text-align: center;
    



}

input#dataab{
    width: 105px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
input#dataehora{
    width: 100px;
    height: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

input#horaab{
    width: 70px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input#placavei{
    width: 98px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input#kmatual{
    width: 70px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input#litrosabast{
    width: 65px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
input#valorabastec{
    width: 90px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
label.legendainput {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div#kmanterior {
    width: auto;
    border-radius: 5%;
    
    
    border: 1px solid #606060;
    
    font-size:small;
    box-shadow:black ;
}

div.container {
    color: aliceblue;
    border: 1px solid #606060;
    border-radius: 10px;
}

h2#titcad {
    color: aliceblue;
    text-align: center;
}

h2#titulo {
    color: aliceblue;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00362d;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #005a66;
  }


  td#box1 {

    background-color: rgb(141, 82, 15);
    color: aliceblue;
    width: 185px;    
    border: 1px solid #606060;
    text-align: center;

  }

  td#box2 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 98px;    
    border: 1px solid #606060;
    text-align: center;

  }

  td#box3 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;

  }

  td#box4 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;

  }

  td#box8 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 70px;    
    border: 1px solid #606060;
    text-align: center;

  }


  
  td#box5 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    
    width: 97px;    
    border: 1px solid #606060;
    text-align: center;

  }
  
  
  td#box6 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 65px;    
    border: 1px solid #606060;
    text-align: center;

  }

  td#box7 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;

  }



  td#box9 {

    background-color: rgb(141, 82, 15);
    color: rgb(240, 254, 255);
    width: 136px;    
    border: 1px solid #606060;
    text-align: center;

  }

  input#inpkmdescont{

    width: 65px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

  }
