div.col-sm-3 {

    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    background-color: rgb(20, 20, 20);
}

div.col-sm-6 {


    border: 1px solid gray; 
    border-radius: 8px;
    


}

table#tablelistaabast {

    border: 1px solid #606060;
    border-spacing: 0px;
    
    
    
    margin-right: auto;
    


}

td#colplacavei {
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;
    
}

td#colanovei {
    width: 65px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td#colmarcavei {
    width: 80px;    
    border: 1px solid #606060;
    text-align: center;
    
}
td#colmodelovei {
    width: 120px;    
    border: 1px solid #606060;
    text-align: center;
    
}

td#cabmarcavei {
    background-color: black;
    color: aliceblue;
    width: 80px;
    height: 20px;
    border: 1px solid #606060;
    text-align: center;

}
td#cabmodelovei {
    background-color: black;
    color: aliceblue;
    width: 120px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabanovei {
    background-color: black;
    color: aliceblue;
    width: 65px;    
    border: 1px solid #606060;
    text-align: center;

}
td#cabplacavei {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 75px;    
    border: 1px solid #606060;
    text-align: center;

}



input#dataab{
    width: 105px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
input#anovei{
    width: 70px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input#placavei{
    width: 100px;
    height: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
input#marcavei{
    width: 70px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
input#modelovei{
    width: 65px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}    
input#valorabastec{
    width: 90px;
    height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
label.legendainput2 {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: grid;
    

    
}

div#kmanterior {
    width: auto;
    border-radius: 5%;
    
    
    border: 1px solid #606060;
    
    font-size:small;
    box-shadow:black ;
}

div.container {
    color: aliceblue;
    border: 1px solid #606060;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
}

h2#titcad {
    color: aliceblue;
    text-align: center;
}

h2#titulo {
    color: aliceblue;
    text-align: center;
}


div#inputboxes {

    display:flex;

}

select#modelovei {

    flex-grow: 0;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00362d;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #005a66;
  }
  